stages:
  - build

variables:
  IMAGE_NAME: 192.168.40.248/library/kaniko-demo
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA
  # Harbor 凭证（建议在GitLab CI/CD Variables设置）
  # HARBOR_USERNAME
  # HARBOR_PASSWORD

docker-build:
  stage: build
  tags:
    - kaniko
  image: 
    name: 192.168.40.248/library/kaniko-project/executor:v1.9.1-debug
    entrypoint: ["/bin/sh", "-c"]
  script:
    - echo "{\"auths\":{\"192.168.40.248\":{\"username\":\"$HARBOR_USERNAME\",\"password\":\"$HARBOR_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context="${CI_PROJECT_DIR}" --dockerfile="${CI_PROJECT_DIR}/Dockerfile" --destination="${IMAGE_NAME}:${IMAGE_TAG}" --destination="${IMAGE_NAME}:latest" --cache=true --cache-ttl=24h
  only:
    - main
    - master